# Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual Environment

venv/
.env

# Streamlit

.streamlit/secrets.toml

# Logs

logs/
*.log

# VS Code

.vscode/

# OS

.DS_Store
Thumbs.db

# Cache

.pytest_cache/
.mypy_cache/

# Database

*.db
*.sqlite3
